syntax: glob

#
# Visual Studio
#

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

*.aps
*.bak
*.build.csdef
*.cache
*.ilk
*.lib
*.log
*.meta
*.ncb
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.scc
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vspscc
*.[Pp]ublish.xml
*_i.c
*_p.c
.builds


#
# Umbraco
#

App_Data/TEMP/
App_Data/preview/
aspnet_client/
media/

App_Data/umbraco.config
web.config


#
# Compiled Assets
#

scripts/scripts.js
css/styles.css
