syntax: glob

#
# Visual Studio
#

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

*.aps
*.bak
*.build.csdef
*.cache
*.ilk
*.lib
*.log
*.meta
*.ncb
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.scc
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vspscc
*.[Pp]ublish.xml
*_i.c
*_p.c
.builds


#
# Umbraco
#

public/App_Data/TEMP/
public/App_Data/preview/
public/aspnet_client/
public/media/

public/App_Data/umbraco.config
public/web.config


#
# Compiled Assets
#

public/scripts/scripts.js
public/css/styles.css
