/* ----------------------------------------------------------------------------

  Site Name
  Coded by "Bad Ass CSS Author" of Imulus

---------------------------------------------------------------------------- */


/* =Initial Page Structure
---------------------------------------------------------------------------- */

@include global-reset;
@include imulus-reset;

html { @include html; }
body { 
  @include body;
  line-height: 1.5;
}

.container {
  @include container(960px);
}


/* =Headings
---------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: $grey-dark;
  small {
    color: $grey-dark;
  }
}

h1 {
  margin-bottom: $baseline;
  font-size: 30px;
  small {
    font-size: 18px;
  }
}

h2 {
  font-size: 24px;
  small {
    font-size: 14px;
  }
}

h3, h4, h5, h6 { }

h3 {
  font-size: 18px;
  small {
    font-size: 14px;
  }
}

h4 {
  font-size: 16px;
  small {
    font-size: 12px;
  }
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
  color: $grey-dark;
  text-transform: uppercase;
}


/* =Body Text
---------------------------------------------------------------------------- */

p {
  margin-bottom: $baseline;
}

blockquote {
  margin-bottom: $baseline;
  border-left: 5px solid #eee;
  padding-left: 15px;

  p {
    margin-bottom: 0;
  }

  small, cite {
    display: block;
    color: $grey-light;

    &:before {
      content: '\2014 \00A0';
    }
  }
}

address {
  display: block;
  margin-bottom: $baseline;
}

pre, code {
  font-family: $monospace;
  font-size: 12px;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: $baseline;
}

sub, sup { // Position subscript and superscript content without affecting line-height: gist.github.com/413930
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

img,
a img {
  border: 0;
  vertical-align: middle;
}

a {
  @include link-colors($link-color, $link-hover);
  @include link-underlines(underline, none);
}


/* =Lists
---------------------------------------------------------------------------- */

#main ul,
#main ol { margin: 0 0 $baseline 0; 
  li {
    padding-left: 25px;
  }
}

#main ul ul,
#main ul ol,
#main ol ul,
#main ol ol { margin-bottom: 0; }

#main ul    { list-style: disc; }
#main ul ul { list-style: circle; }
#main ol    { list-style: decimal; }
#main ol ol { list-style: lower-alpha; }

dl {
  margin-bottom: $baseline;
  dt, dd { }
  dt     { font-weight: bold; }
  dd     { margin-left: $baseline / 2; }
}


/* =Tables
---------------------------------------------------------------------------- */

table {
  width: 100%;
  margin-bottom: 15px;

  th {
    font-weight: bold;
    text-align: left;
    background: #bfe3f8;
  }

  th,
  td {
    padding: 5px 10px 5px 5px;
    border: 1px solid #999999;
  }

  td {
    background: #fff;
  }

  tbody tr:nth-child(even) td,
  tbody tr.even td {
    background: #efefef;
  }

  tfoot {
    font-style: italic;
  }
}


/* =Forms
---------------------------------------------------------------------------- */

fieldset {
  input[type=text],
  input[type=password],
  input.text,
  textarea,
  select {
    border: 1px solid #999;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    width: 292px;
    padding: 3px;
    background-color: #fff;
  }

  input.small {
    width: 120px;
  }

  input[type=text]:focus,
  input[type=password]:focus,
  input.text:focus,
  textarea:focus,
  select:focus {
    border-color: #666;
  }

  select { // Dropdown width and padding is inconsistent with regular inputs
    width: 300px;
    padding: 2px;
  }

  textarea {
    height: 175px;
  }

  span.radcheck {
    display: block;

    input {
      margin: 0 2px 0 0;
    }
  }

  input.submit { // Text based input button
    padding: 5px 10px;
    border: 1px solid #a2adb4;
    @include border-radius(5px)
    background: #d9e3e9;
    color: #3e6d95;
  }

  input.submit-button,
  input[type="image"] { // Image based input button
    float: left;
  }

  legend {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 18px;
  }

  &.pulled {
    p {
      padding: 0 0 15px 150px;
      position: relative;
      clear: left;
      zoom: 1; // Fixes and IE bug that causes text to jump that has a negative margin

      label {
        line-height: normal; // Used to normalize the height between labels and inputs in Firefox

        &.inner { // Be sure to mirror the padding and borders of inputs to have a consistent height
          display: inline-block;
          position: relative;
          padding: 4px 0;
        }

        &.outer {
          float: left;
          text-align: right;
          width: 140px;
          padding: 4px 0;
          margin-left: -150px;
        }

        sup { // Used to indicate a required field
          color: #f00;
        }
      }

      em.info {
        padding-left: 10px;
      }
    }

    span.error {
      position: absolute;
      left: 460px; // Width of label (150) + input (300) + 10 pixels of space
      top: 0;
      display: block;
      color: #f00;
      padding: 4px 0;
      line-height: normal;
    }
  }
  
  &.stacked {
    p {
      padding: 0 0 10px 0;

      label {
        display: block;
        padding: 0 0 5px 0;

        sup { // Used to indicate a required field
          color: #f00;
        }
      }

      em.info {
        padding-left: 10px;
      }
    }

    span.error {
      color: #f00;
    }
  }
}


/* =Utility
---------------------------------------------------------------------------- */

.spacer { margin-bottom: $baseline; }
.left   { float: left; position: relative; margin: 0 10px 5px 0; }
.right  { float: right; position: relative; margin: 0 0 5px 10px; }


/* =Header
---------------------------------------------------------------------------- */

#header {
  position: relative;
  @include autoclear;

  strong#logo {
    position: relative;
    float: left;
    @include image-replacement('/images/logo.gif', 163px, 99px);

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}


/* =Search
---------------------------------------------------------------------------- */

#search {
  position: relative;
  float: right;
  background: url('/images/layout/header/search-bg.png') left top no-repeat;

  input {
    vertical-align: middle;

    &#search-text {
      width: 165px;
      margin: 0 3px 0 0;
      padding: 0 5px;

      &:focus {
        outline: 0;
      }
    }
  }
}


/* =Navigation
---------------------------------------------------------------------------- */

#nav {
  clear: both;
  padding: 0 0 30px 0;

  ul {
    @include inline-list;

    li {
      margin-right: 5px;

      a {
        display: block;
        padding: 5px 10px;
        background: $gray-light;
        text-decoration: none;
      }
    }
  }
}


/* =Content
---------------------------------------------------------------------------- */

#content {
  position: relative;
  @include autoclear;

  #main {

  }

  #sidebar {

  }
}


/* =Footer
---------------------------------------------------------------------------- */

#footer {
  @include autoclear;
  position: relative;
  clear: both;
}
